@font-face {
    font-family: JustSans;
    src: url(fonts/JUST\ Sans\ Regular.otf);
}

@font-face {
    font-family: Antarctica;
    src: url(fonts/AntarcticaDemoRegular.ttf);
}

@font-face {
    font-family: Outfit;
    src: url(fonts/Outfit-Regular-Rounded.ttf);
}

@font-face {
    font-family: Walton;
    src: url(fonts/Walton.otf);
}

@font-face {
    font-family: Walton-Rounded;
    src: url(fonts/Walton\ Rounded.otf);
}

@font-face {
    font-family: Bigote;
    src: url(fonts/Bigote\ FREE.ttf);
}

@font-face {
    font-family: Palo;
    src: url(fonts/TypeUnion\ -\ Palo\ Compressed\ Medium.otf)
}

@font-face {
    font-family: Rusty;
    src: url(fonts/RustyDemo-6YYwg.ttf)
}

@font-face {
    font-family: Moon;
    src: url(fonts/moon_get-Heavy.ttf);
}

@font-face {
    font-family: Radio-Grotesk;
    src: url(fonts/RadioGrotesk-Regular.otf);
}

@font-face {
    font-family: Gilbert;
    src: url(fonts/Gilbert-Bold\ Preview5.otf);
}

@font-face {
    font-family: Freshwost;
    src: url(fonts/Freshwost-1GJJL.otf);
}

@font-face {
    font-family: Narrenschiff;
    src: url(fonts/Narrenschiff-Regular.otf);
}

@font-face {
    font-family: Axima;
    src: url(fonts/TG\ Axima\ Regular.otf);
}

@font-face {
    font-family: ;
    src: url(fonts/Narrenschiff-Regular.otf)
}
body
{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-image: 
        linear-gradient(-60deg, 
            rgb(0,11,24),
            rgb(0,23,45),
            rgb(2,38,77));

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Axima;
    /* letter-spacing: 0.2vw; */
}


.gradient-text {
    background-image: linear-gradient(60deg, rgb(253,94,83), rgb(253,156,83), rgb(253,227,116));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

.navbar-container
{
    display: flex;
    
}