@font-face {
    font-family: IBMPlexMonoBold;
    src: url(IBM_Plex_Mono/IBMPlexMono-Bold.ttf);
}

@font-face {
    font-family: IBMPlexMonoBoldItalic;
    src: url(IBM_Plex_Mono/IBMPlexMono-BoldItalic.ttf);
}

@font-face {
    font-family: IBMPlexMonoExtraLight;
    src: url(IBM_Plex_Mono/IBMPlexMono-ExtraLight.ttf);
}

@font-face {
    font-family: IBMPlexMonoExtraLightItalic;
    src: url(IBM_Plex_Mono/IBMPlexMono-ExtraLightItalic.ttf);
}

@font-face {
    font-family: IBMPlexMonoItalic;
    src: url(IBM_Plex_Mono/IBMPlexMono-Italic.ttf);
}

@font-face {
    font-family: IBMPlexMonoLight;
    src: url(IBM_Plex_Mono/IBMPlexMono-Light.ttf);
}

@font-face {
    font-family: IBMPlexMonoLightItalic;
    src: url(IBM_Plex_Mono/IBMPlexMono-LightItalic.ttf);
}

@font-face {
    font-family: IBMPlexMonoMedium;
    src: url(IBM_Plex_Mono/IBMPlexMono-Medium.ttf);
}

@font-face {
    font-family: IBMPlexMonoMediumItalic;
    src: url(IBM_Plex_Mono/IBMPlexMono-MediumItalic.ttf);
}

@font-face {
    font-family: IBMPlexMonoRegular;
    src: url(IBM_Plex_Mono/IBMPlexMono-Regular.ttf);
}

@font-face {
    font-family: IBMPlexMonoSemiBold;
    src: url(IBM_Plex_Mono/IBMPlexMono-SemiBold.ttf);
}

@font-face {
    font-family: IBMPlexMonoSemiBoldItalic;
    src: url(IBM_Plex_Mono/IBMPlexMono-SemiBoldItalic.ttf);
}

@font-face {
    font-family: IBMPlexMonoThin;
    src: url(IBM_Plex_Mono/IBMPlexMono-Thin.ttf);
}

@font-face {
    font-family: IBMPlexMonoThinItalic;
    src: url(IBM_Plex_Mono/IBMPlexMono-ThinItalic.ttf);
}

.sec1
{
    background-image: url("images/TwinHills.jpg");

    min-height: 80vh;
    width: auto;
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    text-align:center;

    padding:0;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.sec2
{
    background-image: url("images/SandBeach.jpg");

    min-height: 80vh;
    width: auto;
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    text-align:center;
    
    padding:0;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.sec3
{
    background-image: url("images/RockWalkway.jpg");
    
    min-height: 80vh;
    width: auto;
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    text-align:center;
    
    padding:0;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.sec4
{
    background-image: url("images/Ducks.jpg");
    
    min-height: 80vh;
    width: auto;
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    text-align:center;
    
    padding:0;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

















/*
body
{
    font-family: IBMPlexMonoRegular;
    font-size: 20px;
    color:black;
}

.text
{
    margin: auto;
    width: 75vw;
}

#headshot
{
    
    height: 33vh;
    width: 33vh;
    object-fit: cover;
    border-radius: 50%;
    grid-area: headshot;
    
}

.item1
{
    grid-area: headshot;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item2
{
    grid-area: header;
    font-family: IBMPlexMonoBoldItalic;
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
}
.item3
{ 
    grid-area: intro; 
    font-family: IBMPlexMonoMediumItalic;
    display: flex;
    align-items: top;
}

.title-card
{
    display: grid;
    grid-template-areas:
        'headshot header'
        'headshot intro' ;
    gap: 50px;
    background-color: rgb(240, 240, 240);
    border-radius: 100px;
    padding: 50px;
    height: 50vh;
    transform: translate(0,25vh);
}

.parallax
{
    
    background-image: url("images/Background.jpg");

    min-height: 100vh; 

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sec1
{
    height: 100vh;
    width: 100vw
}

.frame{  
    width: 250px;
    height: 200px;
    border: 1px solid black;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}    
img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}
*/