@font-face {
    font-family: ArcaMajoraBold;
    src: url(fonts/ArcaMajora3-Bold.otf);
}

@font-face {
    font-family: Altosa;
    src: url(fonts/Altosa.ttf);
}

@font-face {
    font-family: AlmaMono;
    src: url(fonts/AlmaMono-Regular.ttf);
}

@font-face {
    font-family: OdudoMono;
    src: url(fonts/OdudoMono-Regular.otf);
}

body
{
    background-color: #000b18;
    font-family: OdudoMOno;
    overflow-x:hidden;
    color:#FFFACD;
    /*color:#ffff9c;*/
}  

header
{
    height:100vh;
    width:100vw;
    
    display:flex;
    justify-content: center;
    align-items: center;
}

h1
{
    font-size:4vw;
    margin: 0px;
    border:solid white;
}

h2
{
    font-size: 2.5vw;
    margin: 0px;
}

#titlecard
{
    max-width: 60vw;
    display:grid;
    grid-template-areas: 
        'headshot intro'
        'headshot tagline';
    gap: 2vw;
}

#headshot-container
{
    grid-area: headshot;
    display:flex;
    justify-content: center;
    align-items: center;
    border:solid 1px;
}

#headshot
{
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    border-radius: 50%;
    border: #00172d 5px;
}

#intro-container
{
    grid-area: intro;
    display: flex;
    justify-content: start;
    align-items: end;
    border:solid 1px;
}

#tagline-container
{
    height:9vw;
    grid-area: tagline;
    display: flex;
    justify-content:start;
    align-items: start;
    border:solid 1px;
}